{% extends 'shared/shared.html' %}
{% load staticfiles %}
{% block title %}SolarShark :: Technician{% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ message }}
</div>
{% endfor %}
{% endif %}
<h2 class="title1">Task/s <span class="badge badge-light">{{pai_count}}</span></h2>
{% if obj %}
<div class="elements">
    <div class="row">
{% for u in obj %}
  
  <div class="col-sm-6 w3-agile-crd widgettable">
      <div class="card">
          <div class="card-body card-padding">
              <div class="">
                  <header class="widget-header">
                    {% now "Y-m-d" as todays_date %}
                    {% if todays_date > u.end_date|date:"Y-m-d" %}
                      <h4 class="widget-title"><span class="badge badge-danger">{{u.title|upper}}</span></h4>
                      {% else %}
                      <h4 class="widget-title"><span class="badge badge-success">{{u.title|upper}}</span></h4>
                      {% endif %}
                      <small>Type: <strong>{{u.type|title}}</strong></small>
                  </header>
                  <hr class="widget-separator">
                  <div class="widget-body">
                      <div class="streamline">
                          <div class="sl-item sl-primary">
                              <div class="sl-content">
                                  
                                  <p><i class="fa fa-hourglass-start" style="color: green;"></i> <strong>Start Date:</strong> {{u.start_date|date:"M d, Y"}}  | <i class="fa fa-hourglass-end" style="color: red;"></i><strong> End Date:</strong> {{u.start_date|date:"M d, Y"}} </small></p>
                              </div>
                          </div>
                          <div class="sl-item sl-danger">
                              <div class="sl-content">
                               
                                  <p>{{u.description|truncatechars:30}}</p>
                              </div>
                          </div>
                          <div class="sl-item sl-success">
                              <div class="sl-content">
                                  <p><small><strong>Client:</strong> {{u.client|title}}</small>
                                    <small><strong>Status: </strong> {{u.status}}</small>
                                  </p>
                              </div>
                          </div>
                          <div class="sl-item sl-warning">
                              <div class="sl-content">
                                
                                  {% if todays_date > u.end_date|date:"Y-m-d" %}

                                   <a href="{% url 'projects:details_pai' u.id %}" style="color:red;">Work On Project</a>
                                  {% else %}
                                  <a href="{% url 'projects:details_pai' u.id %}" style="color:green;">Work On Project</a>
                                 {% endif %}
                              </div>
                          </div>
                          
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
{% endfor %}
</div>
</div>
{% else %}
<p>No Equiries to be Attendend to</p>
{% endif %}

{% endblock %}