{% extends 'shared/shared.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}SolarShark :: Create Quotation{% endblock %}
{% block content %}
<div class="forms">
    <h2 class="title1">Invoice Generation Form</h2>
    <div class="form-grids row widget-shadow" data-example-id="basic-forms">
        <div class="form-title">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% now "Y-m-d" as todays_date %}

            <small>Invoice creation date: {{todays_date}}</small>
            <br>
            <img src="{% static 'images/logo.png' %}" alt="" class="img-fluid" width="auto" height="50px">
        </div>
        <div class="form-body">
            <form method="POST" action="{% url 'invoices:quotation_save' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <input type="hidden" value="invoice" name="type">
                        <div class="form-group">
                            <label for="Invoice_for_title">Title:</label>
                            <input type="input" class="form-control" id="Invoice_for_title" name="Invoice_for_title" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="address">Addressed to:</label>
                            <textarea name="address" class="textarea form-control" id="address" required>
                                    </textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="banking_details">SolarShack Bank Acc</label>
                        <textarea name="banking_details" class="textarea form-control" id="banking_details">
                                </textarea>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="assigned_to">Prepared by:</label>
                            <input type="input" class="form-control" id="assigned_to" name="assigned_to" value={{user.username}} readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="assigned_to">Company:</label>
                            <input type="input" class="form-control" id="company_name" name="company_name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <table class="table table-hover" id='lineitems'>
                                <thead>
                                    <tr>
                                        <th>Select</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Unit Price</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                </tfoot>
                                <input type="button" value="Add Line Item" id="newrows"
                                    class="btn btn-success form-control" style="margin-bottom:10px;">
                                <input type="button" value="Delete Line Item" id="delnewrows"
                                    class="btn btn-danger form-control" style="margin-bottom:10px;">
                            </table>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Generate Invoice</button>
            </form>
        </div>
    </div>

</div>

{% endblock %}
{% block scripty %}
<script>
    $(document).ready(function () {
        $("#newrows").click(function () {
            var addcontrols = "<tr>"
            addcontrols += "<td><input type='checkbox' class='form-control' name='checkbx'></td>"
            addcontrols += "<td><input type='text' class='form-control' name='title' required></td>"
            addcontrols +=
                "<td><textarea name='description' class='textarea form-control' required> </textarea></td>"
            addcontrols +=
                "<td><input type='number' class='form-control' name='unit_price' required></td>"
            addcontrols +=
                "<td><input type='number' class='form-control' name='quantity' required></td>"
            addcontrols += "</tr>";
            $("table tbody").append(addcontrols);
        });
        $("#delnewrows").click(function () {
            $("table tbody").find('input[name="checkbx"]').each(function () {
                if ($(this).is(":checked")) {
                    $(this).parents("tr").remove();
                }
            });
        });

    });
</script>
{% endblock %}