<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Glance Design Dashboard Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />

<!-- Custom CSS -->
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />

<!-- font-awesome icons CSS -->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"> 
<!-- //font-awesome icons CSS-->

<!-- data-table css -->
<!-- <link rel="stylesheet" href="{% static 'css/dt/jquery.dataTables.css' %}"> -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

<!-- side nav css file -->
<link href="{% static 'css/SidebarNav.min.css' %}" media='all' rel='stylesheet' type='text/css'/>
<!-- //side nav css file -->

<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="{% static 'js/modernizr.custom.js' %}"></script>

<!--webfonts-->
<link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
<!--//webfonts--> 

<!-- Metis Menu -->
<script src="{% static 'js/metisMenu.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<link href="{% static 'css/custom.css' %}" rel="stylesheet">
{% block css %}
{% endblock %}
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
		<!--left-fixed -navigation-->
		<aside class="sidebar-left">
      <nav class="navbar navbar-inverse">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
			<h1><a class="navbar-brand" href="{% url 'accounts:redirect_to_dashboard' %}" style="padding:5px 5px;">
				
				<img src="{% static 'images/logo.png' %}" alt="Logo" class="img-fluid" width="auto" height="50px">
			</a></h1>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="sidebar-menu">
			  <li class="header">MAIN NAVIGATION</li>
			  {% if not request.user.is_customer_services %}
              <li class="treeview">
                <a href="{% url 'accounts:redirect_to_dashboard' %}">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
				</a>
				{% endif %}
			  </li>
			  {% if not request.user.is_technician %}
              <li class="treeview">
                    <a href="{% url 'contacts:contact_list' %}">
                     <i class="fa fa-book"></i>
                    <span>Contacts</span>
                    </a>
				  </li>
				  {% endif %}
				  {% if request.user.is_superuser   %}
                  <li>
                        <a href="{% url 'accounts:users' %}">
                        <i class="fa fa-users"></i> <span>Users</span>               
                        </a>
					  </li>
					  {% endif %}
			{% if request.user.is_superuser or request.user.is_customer_services %}
			  <li class="treeview">
                <a href="#">
                <i class="fa fa-laptop"></i>
                <span>Enquiries</span>
                <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li><a href="{% url 'enquiries:overview' %}"><i class="fa fa-angle-right"></i> Overview</a></li>
                  <li><a href="{% url 'invoices:overview' %}"><i class="fa fa-angle-right"></i> Quotations</a></li>
                </ul>
			  </li>
			  <li>
				<a href="{% url 'projects:all_project_installation_assessement' %}">
						<i class="fa fa-briefcase"></i> <span>PAI</span>               
				</a>
			  </li>
			  {% endif %}
			  {% if request.user.is_sales %}
			  <li>
                <a href="{% url 'invoices:overview' %}">
                <i class="fa fa-file-o"></i> <span>Quotations</span>               
                </a>
              </li>
			  {% endif %}
		
			  <li>
				<a href="{% url 'faulty_logging:overview' %}">
					 <i class="fa fa-cogs"></i> <span>Faults</span>               
				</a>
			  </li>
			  {% if request.user.is_superuser or request.user.is_customer_services %}
				
                  <li>
                        <a href="{% url 'reports:assigned_resources' %}">
                             <i class="fa fa-bar-chart"></i> <span>Reports</span>               
                        </a>
					  </li>
					  {% endif %}
                   <li class="treeview">
									<a href="#">
									<i class="fa fa-files-o"></i>
									<span>Invoices</span>
									<i class="fa fa-angle-left pull-right"></i>
									</a>
									<ul class="treeview-menu">
									  <li><a href="{% url 'invoices:quotations_overview' %}"><i class="fa fa-angle-right"></i> View Invoices</a></li>
									  <li><a href="{% url 'invoices:quotation_create' %}"><i class="fa fa-angle-right"></i> Create Invoice</a></li>
									</ul>
								  </li>
                      
                      <li class="header">USER PROFILE</li>
                      <li>
                            <a href="#">
                            <i class="fa fa-user"></i> <span>My Account</span>               
                            </a>
                          </li>
                          <li>
                                <a href="{% url 'logout' %}">
                                <i class="fa fa-sign-out"></i> <span>Logout</span>               
                                </a>
                              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
      </nav>
    </aside>
	</div>
		<!--left-fixed -navigation-->
		
		<!-- header-starts -->
		<div class="sticky-header header-section ">
			<div class="header-left">
				<!--toggle button start-->
				<button id="showLeftPush"><i class="fa fa-bars"></i></button>
				<div class="clearfix"> </div>
			</div>
			<div class="header-right">
				
				<div class="profile_details">	
                    {% if user.is_authenticated %}	
					<ul>
						<li class="dropdown profile_details_drop">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<div class="profile_img">	
									<span class="prfil-img"><img src="{% static 'images/2.jpg' %}" alt=""> </span> 
									<div class="user-name">

                                        <p>{{user.username|title }}</p>
                                        {% if user.is_superuser %}
                                        <span>Admin</span>
                                        {% elif user.is_sales %}
                                        <span>Sales</span>
                                        {% elif user.is_technician %}
                                        <span>Technician</span>
                                        {% elif user.is_customer_services %}
										<span>Customer Services</span>
										{% else %}
										<span>Sub Contractor</span>
                                        {% endif %}
									</div>
									<i class="fa fa-angle-down lnr"></i>
									<i class="fa fa-angle-up lnr"></i>
									<div class="clearfix"></div>	
								</div>	
							</a>
							<ul class="dropdown-menu drp-mnu">					
								<li> <a href="#"><i class="fa fa-user"></i> My Account</a> </li> 							
								<li> <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a> </li>
							</ul>
						</li>
                    </ul>
                    {% endif %}
				</div>
				<div class="clearfix"> </div>				
			</div>
			<div class="clearfix"> </div>	
		</div>
        <!-- //header-ends -->
		<!-- main content start-->
		<div id="page-wrapper" style="min-height: 437px;">
			<div class="main-page">

                    {% block content %}
  
                    {% endblock %}

    <!-- <script  src="{% static 'js/index1.js' %}"></script> -->
				
			</div>
		</div>
	<!--footer-->
	<div class="footer">
	   <p>&copy; {% now "Y" %} SolarShark Service-management. All Rights Reserved | Design by <a href="#" target="_blank">Tano Digital Solutions</a></p>		
	</div>
    <!--//footer-->
	</div>
		<script src="{% static 'js/classie.js' %}"></script>
		<script>
			var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
				showLeftPush = document.getElementById( 'showLeftPush' ),
				body = document.body;
				
			showLeftPush.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( body, 'cbp-spmenu-push-toright' );
				classie.toggle( menuLeft, 'cbp-spmenu-open' );
				disableOther( 'showLeftPush' );
			};
			

			function disableOther( button ) {
				if( button !== 'showLeftPush' ) {
					classie.toggle( showLeftPush, 'disabled' );
				}
			}
		</script>
	<!-- //Classie --><!-- //for toggle left push menu script -->
		
	<!--scrolling js-->
	<script src="{% static 'js/jquery.nicescroll.js' %}"></script>
	<script src="{% static 'js/scripts.js' %}"></script>
	<!--//scrolling js-->
	
	<!-- side nav js -->
	<script src="{% static 'js/SidebarNav.min.js' %}" type='text/javascript'></script>
	<script>
      $('.sidebar-menu').SidebarNav()
    </script>
	<!-- //side nav js -->
	
	<!-- for index page weekly sales java script -->
	<!-- <script src="{% static 'js/SimpleChart.js' %}"></script> -->
    
	
	
    <!-- Bootstrap Core JavaScript -->
	<script src="{% static 'js/bootstrap.js' %}"> </script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
	{% block scripty %}
    {% endblock %}
	
   <!-- <script src="{% static 'js/dt/jquery.dataTables.js' %}"> </script> -->

	
</body>
</html>