{% extends 'shared/shared.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}SolarShark :: Add Tasks{% endblock %}
{% block content %}
<div class="forms">
    <h2 class="title1">Add Tasks for: {{usr.first_name|title}} {{usr.last_name|title}}</h2>
    <div class="form-grids row widget-shadow" data-example-id="basic-forms">
        <div class="form-title" style="padding-bottom:2em;">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="pull-left">
                    <h4><a href="{% url 'projects:task_details' usr.id obj.id %}"> Back to {{usr.first_name|title}} {{usr.last_name|title}} Task List</a></h4>
                         
                    <small>{{obj.type|title}} Title: {{obj.title}}</small>
                </div>
                <div class="pull-right">
                        <h5><i class="fa fa-hourglass-start" style="color: green;padding-bottom: 1em;"></i> Start Date :
                            {{obj.start_date|date:"M d, Y"}}</h4>
                    
                        <h5><i class="fa fa-hourglass-end" style="color: red;"></i> End Date :
                            {{obj.end_date|date:"M d, Y"}}</h4>
                 
                </div>
                <br>

        </div>
        <div class="form-body">
            <form method="POST" action="{% url 'projects:task_save' %}">
                    {% csrf_token %}
                <div class="row">

                        <input type="hidden" class="form-control" id="pai_id" value="{{obj.id}}"  name="pai_id">
                        <input type="hidden" class="form-control" id="usr_id" value="{{usr.id}}"  name="usr_id">
                        <div class="form-group">
                       
                        <div class="col-md-12">
            
                                <table class="table table-hover" id='lineitems'> 
                                    <thead> 
                                        <tr> 
                                            <th>Select</th>
                                             <th>Description</th> 
                                             <th>Start Date</th>
                                             <th>End Date</th>  
                                             </tr>
                                             </thead> 
                                             <tbody> 
                                        
                                                 </tbody>
                                                 <tfoot>

                                                 </tfoot>
                                                 <input type="button" value="Add Task" id="newrows" class="btn btn-success form-control pull-left" style="margin-bottom:10px;">
                                                 <input type="button" value="Delete Task" id="delnewrows" class="btn btn-danger form-control pull-right" style="margin-bottom:10px;">
                                                 </table>
                        </div>
                    </div>
                </div>
              
            
  
                   <button type="submit" class="btn btn-default">Assign Tasks</button>
            </form>
        </div>
    </div>

</div>

{% endblock %}
{% block scripty %}
<script>
 $(document).ready(function () {
$("#newrows").click(function(){
    var addcontrols ="<tr>"
    addcontrols += "<td><input type='checkbox' class='form-control' name='checkbx'></td>"
    addcontrols += "<td><textarea name='description' class='textarea form-control' required> </textarea></td>"
    addcontrols += "<td><input type='date' class='form-control datepicker' 'data-date-format':'YYYY-MM-DD' name='start_date'></td>"
    addcontrols += "<td><input type='date' class='form-control datepicker' 'data-date-format':'YYYY-MM-DD' name='end_date'></td>"
    addcontrols += "</tr>";
    $("table tbody").append(addcontrols);
});
$("#delnewrows").click(function(){
    $("table tbody").find('input[name="checkbx"]').each(function(){
        if($(this).is(":checked")){
            $(this).parents("tr").remove();
        }
    });
});

 });
</script>
{% endblock %}